<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <a routerLink="../home" style="text-decoration: none; color: aliceblue;"><h2>Sistema de Calificaciones</h2></a>
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="404.html">Settings</a></li>
              <li><a class="dropdown-item" href="404.html">Activity Log</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
          </ul>
      </li>
  </ul>
</nav>
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">
        Docentes
      </span>
      <button class="btn btn-dark" routerLink="/nueva-cosa">Nuevo</button>
      <table class="table mt-5 table-striped">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of docentes">
            <td>{{item.codigo}}</td>
            <td>{{item.nombre}}</td>
            <td>
              <li class="fas fa-edit fa-lg text-info" style="margin-right: 5px;"></li>
           <li class="fas fa-trash-alt fa-lg text-danger" (click)="eliminarDocente(item.id)"></li>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
