<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Sistema de Calificaciones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/estudiantes']">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/docentes']">Docentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/materias']">Materias</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">
        Materias
      </span>
      <button class="btn btn-dark" routerLink="/nueva-materia">Nuevo</button>
      <table class="table mt-5 table-striped">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Profesor</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of materias">
            <td>{{item.codigo}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.profesor}}</td>
            <td>
              <li class="fas fa-edit fa-lg text-info" style="margin-right: 5px;" [routerLink]="['/edita-materia/',item.id]"></li>
              <li class="fas fa-trash-alt fa-lg text-danger" (click)="eliminarMateria(item.id)"></li>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

