<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Sistema de Calificaciones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/estudiantes']">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/docentes']">Docentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/materias']">Materias</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-active" [routerLink]="['/login']"><a class="btn">Login</a></li>
        <li class="signup-inactive" [routerLink]="['/signup']"><a class="btn">Sign up </a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
      <form class="form-signin" action="" method="post" name="form">
        <label for="username">Username</label>
        <input class="form-styling" type="text" name="username" placeholder="" />
        <label for="password">Password</label>
        <input class="form-styling" type="text" name="password" placeholder="" />
        <input type="checkbox" id="checkbox" /> <label for="checkbox"><span class="ui">
          </span>Keep me signed in</label>
        <div class="btn-animate"> <a class="btn-signin">Sign in</a> </div>

        <div class="form-container">
          <button (click)="loginGoogle()" class="google" class="btn-animate">Login or Signup With Google</button>
          <button routerLink="/email-login" class="email" class="btn-animate">Email</button>
          <a routerLink="/signup" routerLinkActive="active" class="create-account-txt"> No account? <strong>Create one here</strong></a>
        </div>
      </form>

